* { 
    padding:0px;
    margin:0px;
  }
  #cardsec
  {
    margin-top:40px;
  }	
  .container
  {
	background-color:#fffafa;
    width:28%;
	margin:auto;
	padding:30px;
  }
  .content
   img
  {
	height:200px;
	width:350px;
  }	 
  a 
  {
	color:#87ceeb;
	font-size:25px;
  }	
  b 
  {  
    font-size:30px;
  }
  span
  { 
    color:#87ceeb; 
  } 
  i 
  { 
    color:#87ceeb;
    font-size:20px;
  }